img {
  border-radius: 50%;
  width: 170px;
  height: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h6 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.account {
  color: black;
  border: 2px solid white;
  margin: 20px;
  padding: 15px;
  width: 250px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
}
.account:hover {
  background-color: #047794;
}

.account:active {
  background-color: #9fe1f5;

  transform: translateY(4px);
}

html {
  background-image: url(images/Dark-Navy-Blue-Wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
.text {
  text-align: center;
  font-size: 15px;
  font-family: Verdana;
  text-decoration: none;
  color: white;
  height: 100%;

  margin: auto;
}

.logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: right;
  margin: auto;
  position: relative;
  top: -26px;
  border: solid white;
}
div.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}
.links a {
  width: auto;
  border-radius: 25px;
}
body {
  margin: 8px;
}
